@import "tailwindcss";
/*.Harder {
  height: auto;
  width: 300px;
  background-color: silver;
  color : black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-around;

}*/